@use "../../node_modules/bootstrap/scss/bootstrap" with (
    $body-bg: #fff,
    $body-color: #fff,

    $navbar-light-color: #fff,
    $navbar-light-hover-color: #2C3039,
    $navbar-light-active-color: #2C3039,

    $theme-colors: (
      'primary': #44a248,
      'danger': #ff4136,
      'orange': #EEB425,
      'light': #fff
    ),

    $container-max-widths: (
      lg: 1100px,
      xl: 1100px
    )
);

@use "base/_typography";
@use "base/reset";

@use "layout/navigation";
@use "layout/header";
@use "layout/content";
@use "layout/client";
@use "layout/loader";

@use "components/icons";
@use "components/dropdown";
@use "components/card";
@use "components/modal";
@use "components/form";
@use "components/button";
@use "components/toast";

@use "pages/home";
@use "pages/highscores";