.card {

  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 1px 2px;

  .card-header-titles {
    margin-left: 10px;
  }

  .card-image {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 100px;
  }

  .card-image-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card-header {

    border-bottom: none;
    overflow: hidden;
    background-color: #fff;
    padding: 12px;
    border-bottom: 1px solid rgb(240, 240, 240);

    .a {
      color: #000;
    }

    .card-header-icon-container {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }

    .card-header-title-container {

      display: flex;
      align-items: center;

      .textbox {
        width: 100%;
        height: 14px;
      }

      .timestamp {
        float: left;
      }

      .author {
        float: right;
      }

      .card-header-title {
        font-weight: 600;
        font-size: 1.1rem;
        color: #535355;
      }

      .card-header-subtitle {
        color: #535355bf;
      }
    }
  }

  .card-content {

    .author {
      height: 90px;
      overflow-y: hidden;
      display: flex;
      align-items: center;

      .info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        .username {

          a {
            color: #000;
            text-decoration: none;
          }

          font-size: 1.1rem;
          font-weight: 600;
          color: #535355;
        }
      }

      .avatar {
        margin-top: 1rem;

        .avatar.avatar-m {
          width: 64px;
          height: 110px;
          image-rendering: pixelated;
        }
      }
    }
  }

  .card-content:not(.no-spacing) {
    padding: 1rem;
  }

  .oddeven:nth-child(2n) {
    background: rgb(239, 239, 239);
  }

  .card-content {

    textarea {
      width: 100%;
      border: 0;
      padding: 1rem;
      font: inherit;
      resize: vertical;
      border-radius: 5px;
    }
  }

  .card-footer {
    border-top: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
    padding: 0 !important;

    .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
