.icon {

  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  background-color: #dedede;

  &.login {
    background-image: url(/assets/images/web/collider/login_lock.png);
    background-color: #e7e7e7;
  }

}

.modal-login {
  top: 50px;
  width: 400px;
}
