.icon-diamonds {
  background: url(/assets/images/hotel/purses/5-icon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
  width: 20px;
  height: 20px;
}

.icon-duckets {
  background: url(/assets/images/hotel/purses/0-icon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
}

.icon-credits {
  background: url(/assets/images/hotel/purses/credits-icon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
}