.account-buttons .enter-hotel a {
    text-decoration: none;
    color: #000;
}

.account-buttons .enter-hotel {
    display: flex;
    background-color: #ffb900;
    border-color: #ffea00;
    color: #212121;
    border-radius: 5px 0 0 5px;
    border-width: 2px 1px 2px 2px;
    border-style: solid;
    text-transform: uppercase;
    filter: drop-shadow(-1px 4px 0 rgba(0,0,0,.3));
    position: relative;
    padding: 0 2rem;
    height: 46px;
    cursor: pointer;
    font-weight: 600;
}

.account-buttons .enter-hotel:before, 
.account-buttons .enter-hotel:after {
    border-style: solid;
    position: absolute;
    display: block;
    content: "";
}

.account-buttons .enter-hotel:before {
    border-width: 23px;
    top: -2px;
    border-color: transparent transparent transparent #ffea00;
    right: -47px;
}

.account-buttons .enter-hotel:after {
    border-width: 21px;
    top: 0;
    border-color: transparent transparent transparent #ffb900;
    right: -42px;
}


.account-buttons .enter-hotel .inner {
    position: relative;
    padding-right: 27px;
    text-align: right;
    display: flex;
    align-items: center;
}

.account-buttons .enter-hotel .inner:before {
    background-image: url(/assets/images/sprite.005440fe4621f7ea.png);
    background-position: -463px -318px;
    background-size: 525px 411px;
    width: 21px;
    height: 26px;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    margin-right: -10px;
}

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;  
}

.card-header {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
  
}

.icon-newuser {
    background: url(https://habborator.org/archive/icons/mini/createroom_icon.gif) no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 31px;
    height: 27px;
}

.icon-box-one {
    background: url(https://habme.ws/icon-box-one.24484204dd547dae.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 30px;
    height: 30px;
}

.icon-box-two {
    background: url(https://habme.ws/icon-box-two.b366d038e1678feb.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 30px;
    height: 30px;
}

.icon-box-three {
    background: url(https://habme.ws/icon-box-three.d47c076e6e117c59.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 30px;
    height: 30px;
}


.card-header .card-header-icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-header .card-header-title-container {
    padding: 0.9rem;
    display: flex;
    align-items: center;
}

.card-header .card-header-title-container #textbox {
    width: 100%;
    height: 14px;
}

.card .card-header a {
  color: #000;
}

.card  a {
  text-decoration: none; 
}

.card-header .card-header-title-container .timestamp {
    float: left;
}

.card-header .card-header-title-container .author {
    float: right;
}

.card-header .card-header-title-container .card-header-title {
    font-weight: 600;
    font-size: 1rem;
    color: #535355;
}

.card-header .card-header-title-container .card-header-subtitle {
    color: #535355bf;
}

.card-content:not(.no-spacing) {
    padding: 1rem;
}

.card-image.discussion-image-front {
    height: 85px;
    background-repeat: no-repeat;
    background-position: right;
}

.card-image.discussion-image-news {
    height: 125px;
    background-repeat: no-repeat;
    background-position: right;
}

.card-image.card-image-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-image {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 100px;
}

.card-footer {
    border-top: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
}

.card-footer .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-fw {
    width: 100%;
}

.btn-success {
    color: #fff;
    border-color: #44a248;
    background: #44a248;
}

.btn-success:hover {
    border-color: #398e3d;
    background: #398e3d;
}

.content-bar {
    background-color: #e0e0e0e6;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.05),transparent 40px);
    background-repeat: repeat-x;
    height: 76px;
    box-shadow: 0 3px #f5f5f5, inset 0 4px #0000000d;
    border-bottom: 2px solid #fFF
}

.platform {
    background-image: url(/assets/images/plataforma.9623d9efd882199f.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 68px;
    height: 60px;
    position:absolute;
    bottom:0;
    right:0;
}

.platform .cosmic {
    height: 110px;
    margin-top: -44px;
    margin-left: 6px;
}

.form-control:not(.w-auto) {
    width: 100%;
}

.form-control.has-icon {
    padding-left: 1rem;
}

.form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
    font-family: Poppins, Arial, sans-serif;
    width: 227px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 0px;
}

.form-control-container {
    display: flex;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 2px;
    align-items: center;
    cursor: text;
    background: #fff;
    position: relative;
    margin-bottom:10px;
}

.form-control-container-icon {
    padding-left: 10px;
}

.icon-envelope {
    background: url(/assets/images/icon-envelope.a94cbfac96949463.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 16px;
    height: 10px;
}

.icon-dog {
    background: url(/assets/images/icon-dog.7b8215e683d86670.png)  no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 17px;
    height: 16px;
}

.icon-password {
    background: url(/assets/images/icon-lock.9d11b8056f343036.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.column-two {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -12px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.badge-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    padding: 8px;
    margin: auto;
}

@media (min-width: 1014px) {
    .user-list-grid {
        grid-template-columns: repeat(8, 76px);
    }
}

.user-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    margin: auto;
}

.user-list-card {
    background: #e3e8ed;
    box-shadow: inset 0 0 0 2px #ffffff, 0 0 0 1px rgb(0 0 0 / 25%);
    padding: 2px;
    border: 0;
}

.avatar-card {
    width: 76px;
    height: 76px;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
}

.avatar-card .habboImage {
    width: 72px;
    height: 72px;
    overflow: hidden;
    text-align: center;
}

.avatar-card .habboImage img {
    margin-top: -10px;
    align-self: center;
}

.badge {
    align-items: center;
    background: #f4f4f4;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    -o-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    display: inline-flex;
    height: 47px;
    justify-content: center;
    margin-bottom: 5px;
    margin-right: 1px;
    margin-top: 0;
    padding: 5px;
    text-align: center;
    transition: background .8s ease;
    vertical-align: middle;
    width: 47px;
}

.currency-row {
    text-align: center;
    padding: 6px 12px;
    color: #fff;
    width: 100%;
    display: block;
    box-shadow: inset 0 0 0 2px rgb(255 255 255 / 50%), 0 0 0 1px rgb(0 0 0 / 20%);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.currency {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.currency-row span:not(:last-child):not(.icon) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 rgb(255 255 255 / 50%), inset -1px 0 rgb(255 255 255 / 50%);
}

.text-lush-info-text {
    color: #384b60 !important;
}

.currency-row span.currency {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container[data-page="article"] .page-content .default-section .card-content .author,
.page-container[data-page="home"] .page-content .default-section .card-content .author {
    height: 90px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.page-container[data-page="article"] .page-content .default-section .card-content .author .avatar,
.page-container[data-page="home"] .page-content .default-section .card-content .author .avatar{
    margin-top: 1rem;
}

.page-container[data-page="article"] .page-content .default-section .card-content .author .avatar.avatar-m,
.page-container[data-page="home"] .page-content .default-section .card-content .author .avatar.avatar-m{
    width: 64px;
    height: 110px;
    image-rendering: pixelated;
}

.page-container[data-page="article"] .page-content .default-section .card-content .author .info,
.page-container[data-page="home"] .page-content .default-section .card-content .author .info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.page-container[data-page="article"] .page-content .default-section .card-content .author .info .username,
.page-container[data-page="home"] .page-content .default-section .card-content .author .info .username{
    font-size: 0.9rem;
    font-weight: 600;
    color: #535355;
}

.page-container[data-page="article"] .page-content .default-section .card-content .author .info .username,
.page-container[data-page="home"] .page-content .default-section .card-content .author .info .username a {
    color: #000;
    text-decoration: none;
}

.page-container[data-page="article"] .page-content .default-section .oddeven:nth-child(even) {
    background: #EFEFEF;
}

.page-container[data-page="home"] .page-content .default-section .oddeven:nth-child(even) {
    background: #EFEFEF;
}

.page-container[data-page="article"] .page-content .default-section .oddeven:nth-child(odd) {
    border-top: 1px solid #dddddd;
}
.page-container[data-page="home"] .page-content .default-section .oddeven:nth-child(odd) {
    border-top: 1px solid #dddddd;
}

.page-container[data-page="article"] .page-content .default-section .card-content textarea {
    width: 100%;
    border: 0;
    padding: 1rem;
    font: inherit;
    resize: vertical;
    border-radius: 5px;
}

.page-container[data-page="home"] .page-content .default-section .card-content .discord-image {
    background-image: url(/assets/images/discord_logo.b65dfd533c7768ff.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 7rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-content .sm {
    width: 390px !important;
}

.page-content .mt-5 {
    margin-top: 25px;
}